@using TesteComunikiMe.Utilities.Consts
@model IEnumerable<TesteComunikiMe.Application.Dtos.ProdutoDto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Adicionar">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoque)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Consultar", "Consultar", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { onclick = $"return confirm('{Mensagens.ConfirmaExclusao}');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<center><h6>@($"{Model.Count()} {Mensagens.RegistrosEncontrados}")</h6></center>